<!DOCTYPE html>
<html lang="nl">
	<head>
		<title>Online Tutorials / na inloggen via Facebook!!!</title>
		<meta charset="utf-8">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link rel="stylesheet" href="./css/normalize.css">
		<link rel="stylesheet" href="./css/vormgeving.css">
	</head>
	<body>
		<div class="container">
			<h1>Syntra Online Tutorials</h1>
			<nav class="main-nav">
				<ul class="cf">
					<li><a href="#">Home</a></li>
					<li><a href="#">Tutorials</a>
						<ul>
							<li><a href="#">Photoshop</a></li>
							<li><a href="#">Illustrator</a></li>
							<li><a href="#">Web Design</a>
								<ul>
									<li><a href="#">HTML</a></li>
									<li><a href="#">CSS</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="./index.php?action=logout">Blogartikelen</a>
						<ul>
							<li><a href="#">Web Design</a></li>
							<li><a href="#">User Experience</a></li>
						</ul>
					</li>
					<li><a href="#">Contacteer ons</a></li>
					<li id="login"><a href="./index.php?action=contact_Facebook">Login via Facebook</a></li>
				</ul>
			</nav>
			<section>
			</section>
		</div>
		<footer>
			<div class="container">
				<p>Backend II Opdracht 1: Login via Facebook</p>
			</div>
		</footer>
	</body>
</html>